@font-face {
   font-family: 'Nunito';
   src: url('../fonts/NunitoSans7ptCondensed-Light.woff2') format('woff2'),
       url('../fonts/NunitoSans7ptCondensed-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nunito';
   src: url('../fonts/NunitoSans7ptSemiCondensed-ExtraBold.woff2') format('woff2'),
       url('../fonts/NunitoSans7ptSemiCondensed-ExtraBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nunito';
   src: url('../fonts/NunitoSans7ptCondensed-SemiBold.woff2') format('woff2'),
       url('../fonts/NunitoSans7ptCondensed-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nunito';
   src: url('../fonts/NunitoSans7ptCondensed-Regular.woff2') format('woff2'),
       url('../fonts/NunitoSans7ptCondensed-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
